<style>
  b {
    color: white;
  }
</style>
<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
  <div class="container">
   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/"><b>Home</b></a>
        </li>
        
      </ul>
      <ul class="navbar-nav ml-auto">
        {{#if user}}
          <li class="nav-item dropdown">
            <a href="/ideas" class="nav-link"><b>Dashboard</b></a>
           
          </li>
          <li class="nav-item">
            <a href="/users/logout" class="nav-link"><b>Logout</b></a>
          </li>
        {{else}}
          <li class="nav-item">
            <a href="/users/login" class="nav-link"><b>Login</b></a>
          </li>
          <li class="nav-item">
            <a href="/users/register" class="nav-link"><b>Register</b></a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>