<div class="jumbotron text-center">
     <img class="logo" src="/pics/diary.png">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Application in which you can perform basic CRUD operation </p>
  <p class="lead"><h5>Api Requests</h5></p>
  <ol>
    <li>/users/login</li>
    <li>/users/register</li>
    <li>/ideas/add</li>
    <li>ideas/edit/:id</li>
    <li>ideas/delete/:id</li>
  </ol>

</div>