<div class="jumbotron text-center">
     <img class="logo" src="/pics/diary.png">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Application in which you can perform basic CRUD operations </p>
  <p class="lead"><h5>Api Requests</h5></p>
  <ol>
    <li>/login</li>
    <li>/signup</li>
    <li>/update/:id</li>
    <li>/delete/:id</li>
  </ol>

</div>